###
# Unity folders and files
###
*/[Aa]ssets/AssetStoreTools*
*/[Bb]uild/
*/[Ll]ibrary/
*/[Ll]ocal[Cc]ache/
*/[Oo]bj/
*/[Tt]emp/
*/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
.vs/
.vscode/
.idea/

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
# Icon?
ehthumbs.db
Thumbs.db

###
# PigeonProject related
###
bin/
output/

###
# RM
###
[Ll]ogs/
[Uu]serSettings

### FMOD Unity Integration ###
# Never ignore DLLs in the FMOD subfolder.
!*/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!*/[Aa]ssets/Gizmos/FMOD/*
!*/[Aa]ssets/Editor Default Resources/FMOD/*
                    
# Ignore the Cache folder since it is updated locally.
*/[Aa]ssets/Plugins/FMOD/Cache/*
                    
# Ignore bank files in the StreamingAssets folder.
*/[Aa]ssets/StreamingAssets/**/*.bank
*/[Aa]ssets/StreamingAssets/**/*.bank.meta
                    
# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log
*.ini
results

# Custom
PantaRhei/Assets/Plugins/FMOD/platforms/mac/lib/resonanceaudio.bundle/Contents/Info.plist
PantaRhei/Assets/Plugins/FMOD/platforms/mac/lib/fmodstudio.bundle/Contents/Info.plist
PantaRhei/Assets/Plugins/FMOD/platforms/mac/lib/fmodstudioL.bundle/Contents/Info.plist
FMOD/PantaRhei_FMOD/.cache


### Houdini
*/HoudiniEngineAssetCache/*
heu_session.txt
# build
/tests

# Build Pipeline specific
/pipeline-build
/pipeline-tests
/PantaRhei/Assets/csc.rsp
PantaRhei/Recordings
PantaRhei/steam_appid.txt
